<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>File Metadata Microservice</title>
</head>

<body>
  <header>
    <h1 class="title">
      <span>File</span><span class="primary-color">Metadata</span><wbr><span>Microservice</span>
    </h1>
  </header>

  <main>
    <section>
      <h2>Usage</h2>
      <p>Please upload a file.</p>
      <form>
        <div class="file">
          <input type="file" id="file" />
          <label for="file">Choose file...</label>
        </div>
        <button type="submit">Submit</button>
      </form>
    </section>
  </main>

  <footer>
    <p><a href="https://github.com/sitek94">Maciek Sitkowski</a> 2021</p>
  </footer>

  <script>
    const input = document.querySelector('input');
    const label = document.querySelector('label');

    input.addEventListener('change', (event) => {
      if (input.files.length) {
        label.textContent = input.files[0].name;
      }
    });
  </script>
</body>

</html>